name: ci

env:
  CONFIG_REPO_NAME: argocd-course-webapp-config
  
on:
  push:
    branches:
      - 'main'

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "building and testing the app ..."
  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: nishantranout
          password: dckr_pat_LtjhhzPGAtNnx-3TOv8LL30E2Xk
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: WebApplication1/Dockerfile
          push: true
          tags: nishantranout/private:${{ github.sha }}
  promote-to-dev-environment:
    runs-on: ubuntu-latest
    needs: docker-build-push
    steps:
      - run: |
          echo "promoting into dev environment!"
          git config --global user.email nishant.ranaut9@gmail.com && git config --global user.name NishantRanout
          echo "cloning config repo $CONFIG_REPO_NAME"
          git clone https://oauth2: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@gitlab.com/NishantRanout/argocd-course-webapp-config.git
          cd argocd-course-webapp-config
          echo "checkout main branch"
          git checkout main
          echo "updating image tag in values file"
          sed -i "s,tag:.*,tag:\ ${{ github.sha }}," helm/webapp/values.yaml
          git add . && git commit -m "update image tag"
          git push

